@{
  Layout = "_Layout";
}

@model Registrar.Models.Student
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })
  <br>
  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.TextBoxFor(model => model.EnrollmentDate, new { type = "date" })
  @Html.ValidationMessageFor(model => model.EnrollmentDate, "", new { @class = "text-danger", @style = "font-weight: 600;" })
  <br>
  <input type="submit" value="Add new student"/>
}
<p>@Html.ActionLink("Show all students", "Index")</p>